//mixins
$spacing-unit: 10px;
$border-radius: 5px;

$off-white: #f5f5ee;

@mixin scanlines {
    background-image: url('/assets/images/Block8.png');
    background-repeat: repeat;
    background-size: 20px,15px;
}
@mixin darkscanlines {
    background-image: url('/assets/images/Block3.png');
    background-repeat: repeat;
    background-size: 20px,15px;
}
@mixin black {
    background-image: url('/assets/images/black.png');
    background-repeat: repeat;
    background-size: 40px,30px;
}
