details {
    

    .message-age-1 {
        color: #878787;
    }

    .message-age-2 {
        color: #adadad;
    }

    .message-hover {
        font-style: italic;
    }
    margin-top: 30px;
    margin-left: 15px;
    @media (max-width: 1000px) {
        margin-top: 10px;
        min-height: 100px;
    }
}