body {
}

#game {
  line-height: 0;
}
#game canvas {
  display: block;
} 

.game-container {
 //justify-content: center;
 display: flex;
 flex-direction: row;
 @media (max-width: 1000px) {
  flex-direction: column;
 }
}