//webfonts

@font-face {
    font-family: 'Computer Modern Roman';
    src: url('/assets/fonts/cmunrm-webfont.eot');
    src: url('/assets/fonts/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cmunrm-webfont.woff') format('woff'),
         url('/assets/fonts/cmunrm-webfont.ttf') format('truetype'),
         url('/assets/fonts/cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'courier_prime_coderegular';
    src: url('/assets/fonts/courier_prime_code-webfont.woff2') format('woff2'),
         url('/assets/fonts/courier_prime_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Message age styling for description element
// Older turn messages fade to gray to emphasize the newest
.message-age-1 {
    color: #878787;
}

.message-age-2 {
    color: #adadad;
}

// Hover description styling (shown below turn history)
.message-hover {
    font-style: italic;
}
