//webfonts

@font-face {
    font-family: 'Computer Modern Roman';
    src: url('/assets/fonts/cmunrm-webfont.eot');
    src: url('/assets/fonts/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cmunrm-webfont.woff') format('woff'),
         url('/assets/fonts/cmunrm-webfont.ttf') format('truetype'),
         url('/assets/fonts/cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Computer Modern Italic';
    src: url('/assets/fonts/cmunti-webfont.eot');
    src: url('/assets/fonts/cmunti-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cmunti-webfont.woff') format('woff'),
         url('/assets/fonts/cmunti-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Computer Modern Bold';
    src: url('/assets/fonts/cmunbx-webfont.eot');
    src: url('/assets/fonts/cmunbx-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/cmunbx-webfont.woff') format('woff'),
         url('/assets/fonts/cmunbx-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'courier_prime_coderegular';
    src: url('/assets/fonts/courier_prime_code-webfont.woff2') format('woff2'),
         url('/assets/fonts/courier_prime_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
