// Main SCSS file for Dungeon Mode Kit
@import 'scss/base';
@import 'scss/typography'; 
@import 'scss/game';

// Additional styles for the kit
body {
    margin: 0;
    padding: 20px;
    font-family: 'Computer Modern Roman', serif;
}
 

pre, code {
    font-family: 'courier_prime_coderegular', 'Courier New', monospace;
}